*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    font-size: 1.2rem;
    background-color: lightblue;
    height: 100vh;
}

  .container .form {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    width: 35rem;
    height: 15rem;
    padding: .5rem;
    border: solid 3px lightseagreen;
    border-radius: 1rem;
  }

  .container .form label{
    font-size: 1.75rem;
    color: darkslateblue;
  }

  .container .form .inputs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;
    margin-left: 3rem;
  }

  .container .form .inputs input{
    width: 20rem;
    height: 2.5rem;
    border-radius: .6rem;
    background-color: lightskyblue;
    border: solid 3px lightseagreen;
  }

  .container .button{
    display: flex;
    justify-content: center;
  }

  .container .button button{
    color: orange;
    background: blue;
  }

  .container button{
      width: 5rem;
      height: 3.5rem;
      font-size: 1rem;
      border-radius: .75rem;
      border: solid 3px lightseagreen;
      font-weight: 700;
  }

   .table {
       display: grid;
       grid-template-rows: 5rem 1fr;
       width: 35rem;
       font-weight: 600;
   }

   .tbody{
      border: solid 3px lightseagreen;
      border-bottom-left-radius: 1rem;
      border-bottom-right-radius: 1rem;
      border-top: none;
   }
   .thead {
      border: solid 3px lightseagreen;
      border-top-left-radius: 1rem;
      border-top-right-radius: 1rem;
   }
   .thead .tcell{
      border: none;
      color: darkslateblue;
   }
   .table .thead,
   .table .linhacontato {
       display: grid;
       grid-template-columns: repeat(4, 1fr);
   }

   .tcell {
       display: flex;
       align-items: center;
       justify-content: center;
       font-size: 1rem;
       padding: .5rem;
       border-top: solid 2px black;
   }
   .linhacontato:nth-child(1) .tcell{
    border-top: none;
   }

   .tcell button{
    color: yellow;
    background: red;
   }